.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 220px;
  font-family: "Pretendard", sans-serif;
}

.title {
  color: #424242;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 500; /* 살짝 두껍게 하고 싶으면 520~550까지 조절 가능 */
  text-shadow: 0.5px 0 0 #424242;
  line-height: normal;
  margin-top: 70px;
}

.inputGroupBox {
  width: 500px;
  background: white;
  color: white;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 400px;
  transform: translateX(-50%);
}

.inputLine {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #9d9d9d;
  position: relative;
}

.inputLine:last-child {
  border-bottom: none;
}

.inputLine img {
  width: 30px;
  height: 30px;
  margin-right: 12px;
  opacity: 0.8;
}

.eyeToggle {
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.inputLine input {
  border: none;
  outline: none;
  background: none;
  flex: 1;
  font-size: 16px;
  color: #000000;
}

.inputLine input::placeholder {
  color: #d9d9d9;
}

.signupButton {
  position: absolute;
  left: 50%;
  top: 575px; /* 줄어든 높이에 맞게 조정 */
  transform: translateX(-50%);
  background: #126a96;
  color: white;
  font-weight: bold;
  border: none;
  padding: 14px 0;
  width: 500px;
  border-radius: 20px;
  font-size: 20px;
  font-family: Pretendard;
  font-weight: 500;
  padding: 20px 0;
  cursor: pointer;
}

.loginPrompt {
  margin-top: 20px;
  font-size: 14px;
  color: #424242;
  text-align: center;
}

.loginPrompt span {
  color: #126a96;
  cursor: pointer;
  font-weight: 600;
  margin-left: 5px;
}
